<a href="https://colab.research.google.com/github/revanthjavvaji/DS_Assign_SL/blob/main/House_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("/content/data.xlsx")

In [3]:
X = data.drop(['House price of unit area'],axis=1,inplace= False) #input
Y = data["House price of unit area"] #output

In [4]:
X

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft)
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491
...,...,...,...,...,...,...,...,...
409,2013.000000,13.7,4082.01500,0,24.94155,121.50381,3,803
410,2012.666667,5.6,90.45606,9,24.97433,121.54310,2,1278
411,2013.250000,18.8,390.96960,7,24.97923,121.53986,1,503
412,2013.000000,8.1,104.81010,5,24.96674,121.54067,1,597
413,2013.500000,6.5,90.45606,9,24.97433,121.54310,2,1097

In [5]:
Y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: House price of unit area, Length: 414, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

#Linear regression

In [7]:
from sklearn.linear_model import LinearRegression
#create linear regression object
reg = LinearRegression()
  
# train the model using the training sets
reg.fit(X_train, y_train)

LinearRegression()

In [8]:
y_pred_LR=reg.predict(X_test)
#rmse_linrig=reg.predict(X_test)

In [9]:
from sklearn.metrics import mean_squared_error
print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_pred_LR)))

RMSE :  7.454135914547754

#XGBM

In [10]:
import xgboost as xg
mod = xg.XGBRFRegressor()

mod = mod.fit(X,Y)
rmse=mod.predict(X_test)
y_pred_xg = mod.predict(X_test)

[05:26:46] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [11]:
from sklearn.metrics import mean_squared_error
print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_pred_xg)))

RMSE :  6.046101223752942

#Random Forest

In [12]:
from sklearn.ensemble import RandomForestRegressor
rfmodel=RandomForestRegressor()
rfmodel.fit(X_train,y_train)

RandomForestRegressor()

In [13]:
y_rf_pred=rfmodel.predict(X_test)

In [14]:
from sklearn.metrics import mean_squared_error
print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_rf_pred)))

RMSE :  5.998626514481541

#LGBM

In [15]:
import lightgbm as lgb
model_lgbm= lgb.LGBMRegressor()
model_lgbm.fit(X,Y)

LGBMRegressor()

In [16]:
y_pred_lgbm= model_lgbm.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error
print("RMSE : ", np.sqrt(mean_squared_error(y_test,y_pred_lgbm)))

RMSE :  3.019290058471205

 The Best model on this dataset is LGBM (Light Gradient Boosting) as Root Mean Squared Error(RMSE) is lowest(3.0192900) Compared to Other Models